@import './scss/fontawesome.scss';
@import './scss/solid.scss';
@import './scss/brands.scss';

a.external {
    //word-spacing: 6px;
    //
    //&:before {
    //    @extend %fa-icon;
    //    @extend .fa-solid;
    //    content: fa-content($fa-var-arrow-up-right-from-square);
    //}
}

.package-badge {
    font-size: 10px!important;
    border: 0;
    border-radius: 0.25rem;
    background-color: #1967d2;
}